{{- if .Values.services.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "zero-to-running.fullname" . }}-postgres
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "zero-to-running.labels" . | nindent 4 }}
    app: postgres
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: postgres
    {{- include "zero-to-running.selectorLabels" . | nindent 4 }}
{{- end }}

