{{- if .Values.services.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "zero-to-running.fullname" . }}-redis
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "zero-to-running.labels" . | nindent 4 }}
    app: redis
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: redis
    {{- include "zero-to-running.selectorLabels" . | nindent 4 }}
{{- end }}

